nav {
    background-color: rgb(22 29 47/var(--tw-bg-opacity));
    height: 4.2rem;
    align-items: center;
    padding: 0 16px;
}

.logo, .profile{
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.profile{
    margin-right: 1rem;
}

.logo img{
    width: 100%;
}
body {
    --tw-bg-opacity: 1;
    background-color: rgb(16 20 30/var(--tw-bg-opacity));
}

form {
    margin: 2rem 2rem;
    font-size: 1.2rem;
}

.search-container{
    display: inline-flex;
    width: 100%;
}

button{
    width: 30px;
}

h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1.5rem;
    padding-left: 2rem;
}

input[type='text'] {
    background-color: transparent;
    width: 100%;
    max-width: 900px;
    color: #fff;
    margin-left: 1rem;
}

input[type="text"]:focus {
    outline: none;
}

#id {
    color: aliceblue;
}

/* results/posters */

.results {
    display: flex;
    /* justify-content: center; */
    margin-top: 2rem;
    flex-wrap: wrap;
    
}

img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    width: 300px;
    position: relative;
    margin: 20px;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.container{
    margin: 0 auto;
    width: 90%;
}

@media only screen and (max-width:760px){
    .card{
        width: 250px;
    }
    .results{
        justify-content: center;
        margin-top: 1rem;
    }

    .w-1\/5 {
        width: 30%;
    }

    .container{
        width: 100%;
    }
}


.star img{
    width: 20px;
    margin-right: 5px;
}



.card .description{
    position: absolute;
    background-color: #0b0912; 
    top: 0;
    transition: all .5s;
    padding: 8px;
    border-radius: 5px;
    height: 100%;
    color: #fff;
    font-size: 12px;
    transform: rotateY(180deg);
    backface-visibility: hidden; 
    letter-spacing: 1px;
}

.h{
    color: yellow;
}


.card-container:hover > .card{
    transform: rotateY(180deg);
}

.title  {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    width: 90%;
}

.bookmark{
    display: block;
}
.rating{
    font-weight: bold;
    font-size: 16px;
    /* background-color: rgb(16 20 30/var(--tw-bg-opacity)); */
    margin-top: 15px; 
    height: 40px;
    border-radius: 10px;
    display: flex;
    color: #fff;
}

.info, .year{
    width: 100%;
    /* background-color: rgb(22 29 47/var(--tw-bg-opacity)); */
    position: relative;
}

.info{
    margin-bottom: 10px;
    position: relative;
}

.icon{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.isAdded{
    color: yellow;
}

.card:hover .description{
    bottom: 0;
    opacity: 1;
    z-index: 33;
}

@media only screen and (max-width: 450px) {
    .card{
        width: 250px;
    }

    #trending{
        font-size: 22px;
    }

    input[type="text"]{
        font-size: 1rem;
    }

    .title, .rating{
        font-size: 14px;
        margin-top: 1px;
    }

    /* .card .description{
        overflow-y: scroll;
    } */
    
}

